<a href="https://colab.research.google.com/github/AayushiBr/AayushiBr/blob/main/friends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
friends = pd.read_csv("/friends.csv")

In [6]:
friends.head(5)

,Unnamed: 0,season_number,episode_number,episode_name,character,line
0,0,1,1,the one where monica gets a new roommate (the ...,monica,there's nothing to tell! he's just some guy i...
1,1,1,1,the one where monica gets a new roommate (the ...,joey,"c'mon, you're going out with the guy! there's..."
2,2,1,1,the one where monica gets a new roommate (the ...,chandler,"all right joey, be nice. so does he have a h..."
3,3,1,1,the one where monica gets a new roommate (the ...,phoebe,"wait, does he eat chalk?"
4,4,1,1,the one where monica gets a new roommate (the ...,phoebe,"just, 'cause, i don't want her to go through ..."

In [7]:
friends.tail(5)

,Unnamed: 0,season_number,episode_number,episode_name,character,line
61251,61251,10,17,the last one part 1 and part 2,chandler,"oh, it's gonna be okay."
61252,61252,10,17,the last one part 1 and part 2,rachel,(crying) do you guys have to go to the new ho...
61253,61253,10,17,the last one part 1 and part 2,monica,we got some time.
61254,61254,10,17,the last one part 1 and part 2,rachel,"okay, should we get some coffee?"
61255,61255,10,17,the last one part 1 and part 2,chandler,sure. where?

In [15]:
friends.duplicated().sum()

0

In [16]:
friends.loc[233,'Episode_Title'] = "The Last One I"
friends.loc[234,"Episode_Title"] = "The Last One II"

In [17]:
friends.head()

,Unnamed: 0,season_number,episode_number,episode_name,character,line,Episode_Title
0,0,1,1,the one where monica gets a new roommate (the ...,monica,there's nothing to tell! he's just some guy i...,NaN
1,1,1,1,the one where monica gets a new roommate (the ...,joey,"c'mon, you're going out with the guy! there's...",NaN
2,2,1,1,the one where monica gets a new roommate (the ...,chandler,"all right joey, be nice. so does he have a h...",NaN
3,3,1,1,the one where monica gets a new roommate (the ...,phoebe,"wait, does he eat chalk?",NaN
4,4,1,1,the one where monica gets a new roommate (the ...,phoebe,"just, 'cause, i don't want her to go through ...",NaN

In [18]:
friends.tail(5)

,Unnamed: 0,season_number,episode_number,episode_name,character,line,Episode_Title
61251,61251,10,17,the last one part 1 and part 2,chandler,"oh, it's gonna be okay.",NaN
61252,61252,10,17,the last one part 1 and part 2,rachel,(crying) do you guys have to go to the new ho...,NaN
61253,61253,10,17,the last one part 1 and part 2,monica,we got some time.,NaN
61254,61254,10,17,the last one part 1 and part 2,rachel,"okay, should we get some coffee?",NaN
61255,61255,10,17,the last one part 1 and part 2,chandler,sure. where?,NaN

In [19]:
friends.duplicated().sum()

0

In [20]:
friends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61256 entries, 0 to 61255
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      61256 non-null  int64
 1   season_number   61256 non-null  int64
 2   episode_number  61256 non-null  int64
 3   episode_name    61256 non-null  object
 4   character       61256 non-null  object
 5   line            61256 non-null  object
 6   Episode_Title   2 non-null      object
dtypes: int64(3), object(4)
memory usage: 3.3+ MB

In [22]:
friends['season_number'] = friends['season_number'].astype("object")

In [23]:
friends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61256 entries, 0 to 61255
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      61256 non-null  int64
 1   season_number   61256 non-null  object
 2   episode_number  61256 non-null  int64
 3   episode_name    61256 non-null  object
 4   character       61256 non-null  object
 5   line            61256 non-null  object
 6   Episode_Title   2 non-null      object
dtypes: int64(2), object(5)
memory usage: 3.3+ MB

In [24]:
friends.shape

(61256, 7)

In [39]:
friends['season_number'].value_counts().sort_index()

1     5976
2     5768
3     6498
4     6009
5     6224
6     6462
7     6318
8     6225
9     6482
10    5294
Name: season_number, dtype: int64

In [40]:
friends['episode_number'].value_counts().sort_index()

1     2666
2     2451
3     2506
4     2416
5     2694
6     2589
7     2449
8     2574
9     2581
10    2550
11    2624
12    2517
13    3006
14    2273
15    2563
16    2709
17    2867
18    2551
19    2154
20    2399
21    2471
22    2432
23    3442
24    1484
25     288
Name: episode_number, dtype: int64

In [44]:
friends['character']

0          monica
1            joey
2        chandler
3          phoebe
4          phoebe
           ...
61251    chandler
61252      rachel
61253      monica
61254      rachel
61255    chandler
Name: character, Length: 61256, dtype: object

In [57]:
friends['character'].count()

61256

In [53]:
friends['episode_name'].duplicated().sum()

61027

In [ ]:
from google.colab import drive
drive.mount('/content/drive')